@import "theme";

.com-color{
  color: $color-primary;
}
.succ-color{
  color: $color-success;
}
.warn-color{
  color: $color-warning;
}
.danger-color{
  color: $color-danger;
}
.info-color{
  color: $color-info;
}
.white-color{
  color: $color-white;
}

.com-bg-color{
  background-color: $color-primary;
}

.com-border-color{
  border-color: $color-primary;
}

.color-hover{
  color: $color-primary;
  &:hover{
    color: $dark-primary;
  }
}

.bg-color-hover{
  background-color: $color-primary;
  &:hover{
    background-color: $dark-primary;
  }
}

.border-color-hover{
  border-color: $color-primary;
  &:hover{
    border-color: $dark-primary;
  }
}
