
.marg-10{
  margin: 10px;
}
.marg-15{
  margin: 15px;
}
.marg-20{
  margin: 20px;
}
.marg-25{
  margin: 25px;
}

//left
.ml-20{
  margin-left: 20px;
}
.ml-95{
  margin-left: 95px;
}

//right
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-50{
  margin-right: 50px;
}

//top
.mt-50{
  margin-top: 50px !important;
}
.mt-80{
  margin-top: 80px !important;
}
.mt-15{
  margin-top: 15px;
}
.mt-25{
  margin-top: 25px;
}

//bottom
.mb-8{
  margin-bottom: 8px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mb-50{
  margin-bottom: 50px;
}

