
.padding-vertical{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-vertical5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-level{
  padding-left: 10px;
  padding-right: 10px;
}


.pad-10{
  padding: 10px;
}
.pad-15{
  padding: 15px;
}
.pad-20{
  padding: 20px;
}
.pad-25{
  padding: 25px;
}


/*left*/
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}

/*right*/
.pr-20 {
  padding-right: 20px;
}

/*top*/
.pt-20{
  padding-top: 20px;
}

.pt-50{
  padding-top: 50px;
}
.pt-80{
  padding-top: 80px;
}

/*bottom*/
.pb-20{
  padding-bottom: 20px;
}
.pb-30{
  padding-bottom: 30px;
}
.pb-40{
  padding-bottom: 40px;
}
